body {
    margin: 0%;
    border: 0%;
    padding: 0%;
    font-family: cursive;
  }
  .Header {
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
  .Header .left {
    margin-top: 77px;
  }
  .Header .left nav img {
    width: 24%;
    cursor: pointer;
    margin-right: 200px;
  }
  .Header .left nav {
    display: flex;
    justify-content: center;
  }
  .left nav .sign {
    width: 110px;
    height: 36px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
  }
  .left nav .sign:hover {
    background-color: transparent;
    color: black;
    border: 2px solid black;
    font-weight: 600;
  }
  .left nav .log:hover {
    color: orange;

    cursor: pointer;
  }
  .left nav button {
    color: black;
    background-color: transparent;
    border: none;
    margin-top: 9px;
    margin-left: 6px;
    margin-right: 0px;
    font-size: 17px;
  }
  .left .txt {
    margin-left: 56px;
    margin-right: 60px;
  }
  .Header .Header-img {
    width: 530px;
  }
  .Header .left .text {
    margin-left: 33px;
    margin-top: 77px;
  }
  .left .txt h1 {
    font-size: 39px;
  }
  .left .txt p {
    margin-top: 22px;
    font-size: 16px;
    color: #a9abb2;
  }

  .left .txt .ipt {
    display: flex;
    margin-top: 33px;
  }
  .left .txt input {
    width: 380px;
    height: 36px;
    border: 1px solid rgb(241, 76, 16);
    border-right: none;
    padding: 8px;
    font-family: cursive;
  }
  .left .txt .ipt button {
    width: 120px;
    color: white;
    background-color: rgb(241, 72, 11);
    border: none;
    font-size: 18px;
    cursor: pointer;
  }

  .mid {
    display: flex;
    justify-content: center;

    background-color: rgb(31, 16, 5);
    text-align: center;
    color: white;
  }
  .mid .pic {
    width: 33%;
  }
  .last {
    display: flex;
    justify-content: center;
  }
  .last img {
    width: 32%;
  }
  .last .text {
    margin-top: 60px;
    margin-left: 46px;
  }
  .last .text h1 {
    font-size: 44px;
    color: #282c3f;
  }
  .last .text img {
    margin-top: 40px;
    height: 50px;
    width: 170px;
  }
  .Footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    color: white;
    background-color: black;
    padding-left: 44px;
    border-bottom: 1px solid white;
  }
  .Footer img {
    height: 70px;
    width: 240px;
    float: right;
    border: 2px double white;
    border-radius: 8px;
    margin-right: 15px;
    margin-top: 25px;
  }

  .we {
    display: grid;
    color: white;
    background-color: black;
    padding-left: 44px;
    border-bottom: 2px solid white;
  }
  .city {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .Footer .about h2 {
    color: #a9abb2;
  }
